<p id="notice">
	<%= flash[:info] %>
</p>
<strong>Taital</strong>:<%= @book.title %></p><br>
<strong>Body</strong>:<%= @book.body %></p>

<%= link_to "Edit",edit_book_path(@book.id) %> |
<%= link_to "Back",books_path %>